body {
  margin: 0;
  text-align: left;
  font-family: fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: fantasy;

}

button{
  font-family: fantasy;

}

